<link rel="stylesheet" href="/assets/assetss/cardtemp/w3.css">

<!--======================= BEST FEATURES =====================-->
        <section id="best-features" class="w3-white banner-padding black-features">
        	<div class="container">
        	    <center><h2 class="animated" data-animation="fadeInUp" data-animation-delay="200">WHY WE ARE THE BEST</h2></center><br><br>
        		<div class="row">
        			<div class="col-sm-6 col-md-3">
                    	<div class="b-feature-block">
                    		<span><i class="fa fa-dollar"></i></span>
                        	<h3>Best Price Guarantee</h3>
                            <p style="color:black">Bebas biaya transaksi. Tanpa biaya tersembunyi. Harga kompetitif dengan jaminan harga terbaik.</p>
                        </div><!-- end b-feature-block -->
                   </div><!-- end columns -->
                   
                   <div class="col-sm-6 col-md-3">
                    	<div class="b-feature-block">
                    		<span><i class="fa fa-lock"></i></span>
                        	<h3>Safe and Secure</h3>
                            <p style="color:black">Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.</p>
                        </div><!-- end b-feature-block -->
                   </div><!-- end columns -->
                   
                   <div class="col-sm-6 col-md-3">
                    	<div class="b-feature-block">
                    		<span><i class="fa fa-thumbs-up"></i></span>
                        	<h3>Best Travel Agents</h3>
                            <p style="color:black">2.000.000+ ulasan terpercaya dari tamu akan membantu Anda dalam menentukan pilihan.</p>
                        </div><!-- end b-feature-block -->
                   </div><!-- end columns -->
                   
                   <div class="col-sm-6 col-md-3">
                    	<div class="b-feature-block">
                    		<span><i class="fa fa-bars"></i></span>
                        	<h3>Travel Guidelines</h3>
                            <p style="color:black">Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.</p>
                        </div><!-- end b-feature-block -->
                   </div><!-- end columns -->
                </div><!-- end row -->
        	</div><!-- end container -->
        </section><!-- end best-features -->
        
<script src="<?php echo base_url('assetss/js/bootstrap.min.js');?>"></script>