<link rel="stylesheet" href="/assets/assetss/cardtemp/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!--======================= FOOTER =======================-->
        <section id="footer" class="ftr-heading-o ftr-heading-mgn-1">
        
            <div id="footer-top" class="banner-padding ftr-top-grey ftr-text-white">
                <div class="container">
                    <div class="row">
						
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 footer-widget ftr-contact">
                        <h3 class="footer-heading">
                            <i class="fa fa-ship"></i>OJEKPULO</a>
                        </h3>
                            <ul class="list-unstyled">
                            	<li style="color:#999999"><span><i class="fa fa-map-marker"></i></span>Pulau Tidung, Jakarta</li>
                            	<li style="color:#999999"><span><i class="fa fa-phone"></i></span>+00 123 4567</li>
                                <li style="color:#999999"><span><i class="fa fa-envelope"></i></span>info@ojekpulo.com</li>
                                <li style="color:#999999"><span><i class="fa fa-globe"></i></span>ojekpulo.000webhostapp.com</li>
                            </ul>
                        </div><!-- end columns -->
                        
                        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 footer-widget ftr-contact">
                            <h3 class="footer-heading" style="color:white">Ojek Pulo</h3>
                            <ul class="list-unstyled">
                            	<li><a href="#" style="color:#999999">Cara Pesan</a></li>
                            	<li><a href="#" style="color:#999999">Cicilan</a></li>
                            	<li><a href="#" style="color:#999999">Hubungi Kami</a></li>
                                <li><a href="#" style="color:#999999">Pusat Bantuan</a></li>
                                <li><a href="#" style="color:#999999">Tentang Kami</a></li>
                            </ul>
                        </div><!-- end columns -->
                        
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 footer-widget ftr-contact ftr-pad-left">
                        	<h3 class="footer-heading" style="color:white">Produk</h3>
                            <ul class="list-unstyled">
                            	<li><a href="#" style="color:#999999">Tiket Kapal</a></li>
                            	<li><a href="#" style="color:#999999">Homestay</a></li>
                                <li><a href="#" style="color:#999999">Aktivitas & Rekreasi</a></li>
                                <li><a href="#" style="color:#999999">Kuliner</a></li>
                            </ul>
                        </div><!-- end columns -->

                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 footer-widget ftr-contact ftr-pad-left">
                            <h3 class="footer-heading" style="color:white">Lainnya</h3>
                            <ul class="list-unstyled">
                            	<li><a href="#" style="color:#999999">Blog Ojek Pulo</a></li>
                            	<li><a href="#" style="color:#999999">Kebijakan Privasi</a></li>
                                <li><a href="#" style="color:#999999">Syarat dan Ketentuan</a></li>
                            </ul>
                        </div><!-- end columns -->
                    </div><!-- end row -->
                    <br>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 footer-widget ftr-contact">
                            <h3 class="footer-heading" style="color:white">Partner Pembayaran</h3>
                            <div class="col-xs-6 col-sm-3 footer-widget ftr-contact">
								<ul class="list-unstyled">
									<li><a style="color:#999999"><span><img src="/assets/assetss/images/payment-1.png" width="30" height="30"/></span></a></li>
									<li><a style="color:#999999"><span><img src="/assets/assetss/images/payment-2.png" width="30" height="30"/></span></a></li>
									<li><a style="color:#999999"><span><img src="/assets/assetss/images/payment-5.png" width="30" height="30"/></span></a></li>
								</ul>							
                            </div>
                            <div class="col-xs-6 col-sm-3 footer-widget ftr-contact">
								<ul class="list-unstyled">
									<li><a style="color:#999999"><span><img src="/assets/assetss/images/payment-3.png" width="30" height="30"/></span></a></li>
									<li><a style="color:#999999"><span><img src="/assets/assetss/images/payment-10.png" width="30" height="30"/></span></a></li>
									<li><a style="color:#999999"><span><img src="/assets/assetss/images/payment-6.png" width="30" height="30"/></span></a></li>
								</ul>							
                            </div>
                            <div class="col-xs-6 col-sm-3 footer-widget ftr-contact">
								<ul class="list-unstyled">
									<li><a style="color:#999999"><span><img src="/assets/assetss/images/payment-7.png" width="30" height="30"/></span></a></li>
									<li><a style="color:#999999"><span><img src="/assets/assetss/images/payment-9.png" width="30" height="30"/></span></a></li>
									<li><a style="color:#999999"><span><img src="/assets/assetss/images/payment-8.png" width="30" height="30"/></span></a></li>
								</ul>
                            </div>
                        </div><!-- end columns -->

                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 footer-widget ftr-contact">
                            <h3 class="footer-heading" style="color:white">Follow</h3>
                            <ul class="list-unstyled">
                                <li><a href="#" style="color:#999999"><span><i class="fa fa-facebook"></i></span>Facebook</a></li>
                                <li><a href="#" style="color:#999999"><span><i class="fa fa-instagram"></i></span>Instagram</a></li>
                                <li><a href="#" style="color:#999999"><span><i class="fa fa-twitter"></i></span>Twitter</a></li>
                                <li><a href="#" style="color:#999999"><span><i class="fa fa-google"></i></span>Google+</a></li>
                            </ul>
                        </div><!-- end columns -->
                    </div>
                </div><!-- end container -->
            </div><!-- end footer-top -->

            <div id="footer-bottom" class="ftr-bot-black">
                <div class="container">
                    <div class="row">
                        <center><p>&copy; <%= moment().format('Y')%> Ojek Pulo. All rights reserved.</p></center>
                    </div><!-- end row -->
                </div><!-- end container -->
            </div><!-- end footer-bottom -->
        </section><!-- end footer -->